// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
  font-family: $font-family;
  // font-size: 84% !important;
}

// Body base
body {
  color: $font-color;
  font-size: 1rem;
}