.nav {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  padding: 0 !important;
  transition: height 0.3s ease;
  &--scrolled {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.brand {
  text-transform: uppercase;
  margin: 0;
  &__blue {
    color: $primary-color;
    display: none;
  }
  &__dark {
    color: $dark-color;
    display: none;
  }
  a {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.menu {
  margin-top: -2px;
  &__item {
    font-size: 0.8rem;
    // line-height: 23px;
    color: $dark-color !important;
    margin: 0px 0px 0px 4px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      background: #F2F2F2;
      color: $dark-color;
      text-decoration: none;
    }
  }
}

@include small-breakpoint {
  .nav {
    height: 140px;
    &--scrolled {
      height: 65px;
    }
  }
  .navbar {
    padding: 0 2rem;
  }
  .brand {
    &__blue {
      display: inline;
    }
    &__dark {
      display: inline;
    }
  }
  .menu {
    &__item {
      font-size: 1rem;
      margin: 0px 0px 0px 8px;
    }
  }
}

@media print {
  .nav {
    display: none;
  }
}